<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keep up with the Trend | Huskies</title>
    <link rel="shortcut icon" href="/static/img/huskies logo.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/index/glider.min.css">
    <link rel="stylesheet"  href="/static/css/index/index.css">
     <link rel="stylesheet" media="screen and (min-height :700px) and (max-width:450px)" href="/static/css/index/smallheight-index.css"> 
    <link rel="stylesheet" media="screen and (max-width:590px) and (max-height : 700px)" href="/static/css/index/smallwidth-index.css">


    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        <span id="logoName">Huskies</span>
        <img src="/static/img/huskies logo.png" alt="Huskies logo" id="logoImg">
    </nav>

    <section class="glider-container">
        <div class="glider-contain">
            <div class="glider">
                <div class="card " id="card1" >
                    <div class="inside-card">
                        <span class="card-head">Men</span>
                        <a href="/men"><button class="card-button">Shop Now</button></a>
                    </div>
                </div>
                <div class="card " id="card2">
                    <div class="inside-card">
                        <span class="card-head">Women</span>
                        <a href="/women"><button class="card-button">Shop Now</button></a>
                    </div>
                </div>
                <div class="card " id="card3">
                    <div class="inside-card">
                        <span class="card-head">Teenagers</span>
                        <a href="/teenager"><button class="card-button">Shop Now</button></a>
                    </div>
                </div>
            </div>
          
            <button aria-label="Previous" class="glider-prev">«</button>
            <button aria-label="Next" class="glider-next">»</button>
            <div role="tablist" class="dots"></div>
        </div>
    </section>
    
    <section class="moto-container">
        <h1 class="moto-head">Discover the new Fashion trends with us</h1>
        <span class="moto">All types of clothing available at Huskies</span>
    </section>
    <hr>
    <section class="social">
        <h1 class="social-head">Our Social Platforms</h1>
        <div class="social-images">
            <a href="https://twitter.com/" target="_blank"><button><img src="/static/img/index/twitter.png" alt="twitter logo"></button></a>
            <a href="https://instagram.com/" target="_blank"><button><img src="/static/img/index/insta.png" alt="instagram logo"></button></a>
            <a href="https://discord.com/" target="_blank"><button><img src="/static/img/index/Discord.png" alt="instagram logo"></button></a>
            <a href="https://snapchat.com/" target="_blank"><button><img src="/static/img/index/snapchat.png" alt="instagram logo"></button></a>
            <a href="https://facebook.com/" target="_blank"><button><img src="/static/img/index/facebook.png" alt="instagram logo"></button></a>
            
        </div>

    </section>

    <footer>Copywrite &copy Huskies.com | All rights reserved</footer>
    
    <script src="/static/scripts/glider.min.js"></script>
    <script src="/static/scripts/index.js"></script>
</body>
</html>