<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Womens Fashion | Huskies</title>

    <link rel="stylesheet" href="/static/css/women/women.css">
    <link rel="stylesheet" media="screen and ((min-height :700px) and (max-width:450px))" href="/static/css/women/small.css">
    <link rel="shortcut icon" href="/static/img/huskies logo.png" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="movingtext">
        <p class="text">Delivery chargers are Rs. 200/- nationwide and u can enjoy free shipping for minimum order of Rs. 5000/------ Discover the TREND with HUSKIES.</p>
    </div>
    

    <nav id="navbar">
        <div class="menu">
            <div class="dropdown">
                <button class="dropbtn"><img src="/static/img/menu.png" alt=""></button>
                <div class="dropdown-content">
                    <a href="/womenproduct">
                        <img src="/static/img/women/top.png" alt="Top">
                        <span>Tops</span>
                    </a>
                    <a href="/womenproduct">
                        <img src="/static/img/women/skirt.png" alt="skirt">
                        <span>Bottoms</span>
                    </a>
                    <a href="/womenproduct">
                        <img src="/static/img/women/heel.png" alt="">
                        <span>heels</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="page">
            <ul>
                <li><a href="/men">Men</a></li>
                <li><a href="/women" id="presentpage">Women</a></li>
                <li><a href="/teenager">Teenageers</a></li>
            </ul>
        </div>
        <div class="brand">
            <span>Huskies</span>
        </div>
        <div class="tools">
            <a href=""><button><img src="/static/img/search.png" alt="search button"></button></a>
            <a href="/cart"><button><img src="/static/img/cart.png" alt="cart button"></button></a>
            <a href="/"><button><img src="/static/img/home.png" alt="cart button"></button></a>
        </div>
    </nav>
    <hr>

    <section class="slidesection">
        <div class="sildeshow">
            <div class="slideshow-container">
                <div class="mySlides" id="s1">
                    <a href=""><img src="/static/img/women/img1l.png" alt=""></a>
                </div>
                <div class="mySlides" id="s2">
                    <a href=""><img src="/static/img/women/img2l.png" alt=""></a>
                </div>
                <div class="mySlides" id="s3">
                    <a href=""><img src="/static/img/women/im3l.png" alt=""></a>
                </div>
            </div>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </section>
    <hr class="seperate">
    <section class="update">
        <div id="updateText">
            <h1>Be A Part of Huskies family</h1>
            <span>Get the latest details about the special offers, new product launches and events</span>
        </div>
        <div id="emailcontent">
            <form action="/women" method="post">
                <input type="email" name="email" id="email" class="inp" placeholder="Enter ur email">
                <input type="submit" value="Subscribe Now" id="submitbtn">
            </form>
        </div>
    </section>
    <hr class="seperate">
    <section class="productsection">

        <a href="/womenproduct"><button>View Products</button></a>

    </section>
    <section class="contactsection">
        <div class="contactinfo">
            <h1>Contact Us</h1>
            <div>
                <p>Call : 0322-3157477</p>
                <p>Mail : hj162004@gmail.com</p>
            </div>
        </div>
        <div class="socialplatforms">
            <h1> Our Social Platforms</h1>
            <div>
                <a href="https://twitter.com/" target="_blank">
                    <img src="/static/img/index/twitter.png" alt="twitter logo">
                </a>
                <a href="https://instagram.com/" target="_blank">
                    <img src="/static/img/index/insta.png" alt="instagram logo">
                </a>
                <a href="https://discord.com/" target="_blank">
                    <img src="/static/img/index/Discord.png" alt="discord logo">
                </a>
                <a href="https://snapchat.com/" target="_blank">
                    <img src="/static/img/index/snapchat.png" alt="instagram logo">
                </a>
                <a href="https://facebook.com/" target="_blank">
                    <img src="/static/img/index/facebook.png" alt="instagram logo">
                </a>
            </div>
        </div>
    </section>
    <script src="/static/scripts/women.js">
    </script>
</body>

</html>